<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="/login.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   
</head>
<body>



        <div class="login-page" >
            <div class="form">
                <h1> <strong>STUDY OWL PROJECTS MODULE</strong></h1>
                <form class="login-form" method="get" action="http://localhost:5000/studyowl-chandra/us-central1/app/signup">
                    <button type="submit" ><b>USER SIGNUP<b> </button>
                    </form>
                    <br> <br>
                <form class="login-form" method="get" action="http://localhost:5000/studyowl-chandra/us-central1/app/signin">
                    <button type="submit"><b>USER SIGNIN<b></button>
                </form>
                <br></br>
                <form class="login-form" method="get" action="http://localhost:5000/studyowl-chandra/us-central1/app/admin">
                    <button type="submit"><b>adminSIGNIN<b></button>
                </form>
            </div>
        </div>

</body>
</html>




