<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="login.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>
	<div class="login-page">
		<div class="form">

   
				</form>
			<form class="login-form" method="post" action="http://localhost:5000/studyowl-chandra/us-central1/app/check">
				<input type="text" placeholder="Username" name="name" />
				<input type="password" placeholder="password" name="pas" />
				<button type="submit">login</button>
				</form>
            <br>
		</div>
	</div>


</body>
</html>